name: Publish

on:
  release:
    types: [published]

jobs:
  push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Create config file
      run: sed "s|http://localhost:3013/graphql|https://graphql.juffalow.com/graphql|g" ./src/config.example.ts > ./src/config.ts
    - name: Build
      run: docker build -t juffalow/react-relay-example .
    - name: Install doctl
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
    - name: Push image to Digital Ocean Container Registry
      run: |
        VERSION=${GITHUB_REF#"refs/tags/"}
        IMAGE_NAME=registry.digitalocean.com/juffalow/react-relay-example
        
        echo $VERSION
        echo $IMAGE_NAME
        
        docker tag juffalow/react-relay-example $IMAGE_NAME:$VERSION
        
        doctl auth init
        docker push $IMAGE_NAME:$VERSION
